*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.h
config.h.in
config.h.in~
config.log
config.status
config/compile
config/depcomp
config/install-sh
config/missing
configure
configure.scan
src/.deps/
src/Makefile
src/Makefile.in
src/tt++
stamp-h1
